body {
	background: #CCCCCC;
}

textarea {
	width: 100%;
	height: 400px;
}

form {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

div {
	clear: both;
	margin-top: 5px;
	margin-bottom: 5px;
}

details {
	clear: both;
	display: block;
}

summary {
	font-weight: bold;
}

input {
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 3px;
	padding-right: 3px;
}
